
/* Styling for kanban table */
table {
  width: 100%;
  height: 100%;
}

th {
  text-align: center;
  background: white;
  border: 1px solid black;
}

td {
  color: white;
  width: 33%;
  height: 100%;
  padding-top: 10px;
}

/**
* Styling for Kanban board
**/

/* Global styles */

.kanban-item {
  background-color: transparent;
  border: none;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  word-wrap: normal;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
}

/* For the todo div */
.kanban-todo {
  background-color: #88bbee;
}

.kanban-todo:hover {
  box-shadow: 2px 2px 2px #446677;
}

/* For the doing div */
.kanban-doing {
  background-color: #6688aa;
}

.kanban-doing:hover {
  box-shadow: 2px 2px 2px #334455;
}

/* For the done div */
.kanban-done {
  background-color: #334455;
}