/**
* General style rules
**/

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: darkblue;
  background-color: lightblue;
}

a {
  color: #00B7FF;
}

#msgPane, #todoPane {
  position: fixed;
  bottom: 0;
  width: 100%;
}

#Welcome {
  color: white;
}

#Chatbox {
  color: black;
}

sub {
  visibility: hidden;
}

p {
  color: black;
}
